/* src/StatCard.css */
.stat-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    min-width: 250px;
    height: 113px;
    transition: 0.4s;
  }
  .stat-card:hover{
    box-shadow: 0 0 8px #ff7f5067;
  }
  .stat-header {
    display: flex;
    justify-content: space-between;
    color: #ff5722;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .stat-count h2 {
    font-size: 40px;
    margin: 0;
    color: #333;
  }
  
  .percentage-change {
    color: red;
    font-size: 14px;
  }
  